@import "styles/colors";
@import "styles/constants";

.footer {

  @include set-font-size(12px, 18px, 500);

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 44px;
  padding: 0 10px;

  color: $footer-text;
  letter-spacing: 0.36px;

  background: $bgc-header;
  backdrop-filter: blur(4px);

  &__action {
    display: flex;
    gap: 20px;
    align-items: center;

    & button {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;

      padding: 2px 4px;

      background: white;
      border-radius: $brdr;
      box-shadow: 0 2px 5px 0 rgb(89 96 120 / 10%), 0 0 0 1px rgb(70 79 96 / 16%), 0 1px 1px 0 rgb(0 0 0 / 10%);
    }

    &-pages {
      display: flex;
      gap: 10px;
    }

    &-values {
      & input {
        @include set-font-size(12px, 18px, 500);

        width: 15px;
        text-align: right;

      }
    }
  }
}

.revert {
  transform: rotateY(180deg);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: textfield;
    appearance: none;
}
