$bgc-input: rgb(255 255 255 / 100%);
$bgc-header: rgb(244 247 252 / 75%);
$bgc-add-button: rgb(34 100 229 / 100%);

/* Fonts */
$placeholder: rgb(161 169 184 / 100%);
$footer-text: rgb(104 113 130 / 100%);
