@import "styles/colors";

.popup {
  position: absolute;
  top: -108px;
  left: 20px;

  padding: 5px;

  background-color: white;
  border-radius: 4px;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 8%), 0 15px 35px -5px rgb(17 24 38 / 20%), 0 0 0 1px rgb(152 161 178 / 10%);

  div {
    cursor: pointer;
    user-select: none;

    padding: 0 3px;

    border-radius: 3px;

    transition: 0.2s ease-in-out;

    &:hover {
      color: white;
      background-color: $bgc-add-button;
      transition: 0.2s ease-in-out;
    }

    & + & {
      margin-top: 5px;
    }
  }
}
