.sort {
  cursor: pointer;
  user-select: none;

  display: flex;
  gap: 2px;
  align-items: center;

  &_revert {
    transform: rotateX(180deg);
  }

  &__icon {
    display: flex;
  }

  &__label {
    text-transform: uppercase;
  }
}
